<%= render 'display_student' %>

<%= form_for(@student) do |f| %>

    <div class='field'>
      <%= f.label :name, 'Change name' %>
      <%= f.text_field :name %>
    </div>
    <div class='field'>
      <%= f.label :period, 'Change period' %>
      <% %w(1 2 3 4 YB).each do |n| %>
          <label class='radio inline'>
            <%= n.to_s %><%= f.radio_button(:period, n) %>
          </label>
      <% end %>
    </div>
    <br />
    <div class='actions'>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>

    <% 5.times do %>
    <br />
    <% end %>

    <% msg = 'Are you sure you want to delete this student?' %>

    <%= link_to "Delete student", @student, method: :delete, data: { confirm: msg }, :class => 'btn btn-danger btn-small' %>

<% end %>