<header>
  <nav class='round'>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Add Student', new_student_url %></li>
      <li><%= link_to 'Period 1', '/period1' %></li>
      <li><%= link_to 'Period 2', '/period2' %></li>
      <li><%= link_to 'Period 3', '/period3' %></li>
      <li><%= link_to 'Period 4', '/period4' %></li>
      <li><%= link_to 'Yearbook', '/period_yb' %></li>
    </ul>
  </nav>
</header>